*{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}
/* Font */
.main-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.second-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Style */
.btn-main{
    background-color: #4E47FF;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.btn-main:hover{
    background-color: yellow;
    color: black;

}
/* Header Style */
header{
    background-image: url('images/Hero-bg.png');
    /* border: 1px solid red; */
}
/* Navigation Style */
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 50px 150px;
}
nav .logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
nav .btn-nav{
    width: 132px;
    height: 48px;
}
/* Banner Style */
.banner{
    text-align: center;
    margin: 158px 267px 152px;
}
.banner h3{
    font-weight: bold;
    font-size: 65px;
}
.banner .btn-banner{
    margin-top: 37px;
    width: 174px;
    height: 48px;
}
