*{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}
/* Font */
.main-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.second-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Style */
.btn-main{
    background-color: #4E47FF;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.btn-main:hover{
    background-color: yellow;
    color: black;

}
/* Header Style */
header{
    background-image: url('images/Hero-bg.png');
    /* border: 1px solid red; */
}
/* Navigation Style */
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 50px 150px;
}
nav .logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
nav .btn-nav{
    width: 132px;
    height: 48px;
}
/* Banner Style */
.banner{
    text-align: center;
    margin: 158px 267px 152px;
}
.banner h3{
    font-weight: bold;
    font-size: 65px;
}
.banner .btn-banner{
    margin-top: 37px;
    width: 174px;
    height: 48px;
}
/* Section One Style */
.secone{
    margin: 116px 141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.left{
    width: 517px;
}
.left h3{
    font-size: 42px;
    font-weight: bold;
}
.left p{
    font-size: 24px;
    margin: 23px auto;
}
.left .btn-secone{
    width: 229px;
    height: 48px;
}
.right img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* Section Two Style */
.sectwo{
    margin: 0px 141px 137px;
    background-color: #E5E7FF;
    /* border: 1px solid red; */
    padding: 50px 142px;
    border-radius: 24px;
}
.sectwo .title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    background-color: #E5E7FF;
}
.sectwo .contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #E5E7FF;
}
.content .content-title{
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    background-color: #E5E7FF;
}
.content .content-desc{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #81828D;
    background-color: #E5E7FF;
}